* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    color: #cdb0dd;
    padding: 20px;
}

.navbar {
    text-align: center;
    margin-bottom: 20px;
}

.navbar a {
    text-decoration: none;
    display: inline-block;
    background-color: #000;
    color: #ffffff;
    padding: 7px 10px;
    border-radius: 30px;
    margin: 0 5px;
    transition: 0.2s;
}

.navbar a:hover {
    color: #cdb0dd;
}

.pesquisa input {
    padding: 7px 10px;
    border: 2px solid #ccc;
    border-radius: 30px;
}

.btn {
    text-decoration: none;
    color: #000;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    padding: 7px;
    font-size: 14px;
    transition: 0.2s;
}

.btn:hover {
    background-color: #dedede;
}

.container-noticias {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
}

.card {
    margin-top: 10px;
    background-color: #cdb0dd;
    max-width: 360px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 0 10px 4px #ccc;
}

.headline {
    padding: 5px;
}

.headline:hover {
    text-decoration: underline;
}

.news-image img {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.box-data {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 5px;
}

.data,
.source {
    color: #222
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
    height: 35px;
    color: #fff;
    margin-top: 20px;
}

.copy a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.copy a:hover {
    text-decoration: underline;
}